html, body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, p {
	margin: 0px 0px 15px 10px;
	text-align: center;
}

#big-header {
	color: #FFFFFF;
	font-size: 56px;
	background-color: #103070;
	padding: 5;
}