<!doctype html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>

	<body>
	<h1 id="big-header"> (GAME NAME) </h1>
	<h2> (game name) is an online version of Madlibs that takes advantage of NLP to randomly generate Madlib templates from Amazon reviews. Single player mode is ready to play below! Multi-player is under construction. </h2>
	
	<center><button type="button">Single Player</button></center>
	<center><button type="button">Multi Player</button></center>
	</body>
</html>